@model EmpEditor.Models.UserModel

@{
    Layout = null;
    @ViewBag.Title
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Signup</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)       

        <div>
            <h4>User</h4>
            <hr />
            

            <div>
                @Html.LabelFor(model => model.Email)
                <div>
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div>
                @Html.LabelFor(model => model.Password)
                <div>
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>

            <p>
                <input type="submit" value="Register"/>
            </p>
        </div>
    }

</body>
</html>
