@model EmpEditor.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Signup</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)       

        <div>
            <h4>User</h4>
            <hr />
            <div>
                @Html.LabelFor(model => model.Username)
                <div>
                    @Html.EditorFor(model => model.Username)
                    @Html.ValidationMessageFor(model => model.Username)
                </div>
            </div>

            <div>
                @Html.LabelFor(model => model.Email)
                <div>
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div>
                @Html.LabelFor(model => model.Password)
                <div>
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>

            <div>
                @Html.LabelFor(model => model.ConfirmPassowrd)
                <div>
                    @Html.EditorFor(model => model.ConfirmPassowrd)
                    @Html.ValidationMessageFor(model => model.ConfirmPassowrd)
                </div>
            </div>

            <div>
                @Html.LabelFor(model => model.Sex)
                <div>
                    @Html.EditorFor(model => model.Sex)
                    @Html.ValidationMessageFor(model => model.Sex)
                </div>
            </div>

            <p>
                <input type="submit" value="Create"/>
            </p>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
